<div>
    <a href="/">Home</a><br><br>
    <span><b>Nombre:</b> {{user.firest_name}}</span><br>
    <span><b>Apellido:</b> {{user.last_name}}</span><br>
    <span><b>Edad:</b> {{user.age}}</span><br>
    <span><b>Email:</b> {{user.email}}</span><br>
    <span><b>Rol:</b> {{user.role}}</span><br>
</div>