<a href="/" class="btn btn-secondary mb-3 m-3">Home</a>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1>Informacion de usuario</h1>
                    <span><b>Nombre:</b> {{user.firest_name}}</span><br>
                    <span><b>Apellido:</b> {{user.last_name}}</span><br>
                    <span><b>Edad:</b> {{user.age}}</span><br>
                    <span><b>Email:</b> {{user.email}}</span><br>
                    <span><b>Rol:</b> {{user.role}}</span><br>
                </div>
            </div>
        </div>
    </div>
</div>