<a href="/">Home</a>
<h2>
  <input id="query" placeholder="Search product" value="{{payload.query}}"> <button id="search">Search</button>
</h2>
Stock: <input id="stockOnly" type="checkbox"><br><br>
Category: <select id="category" name="category">
  <option value="">Select</option>
  <option value="">All category</option>
  {{#each categorys}}
  <option value={{this}}>{{this}}</option>
  {{/each}}
</select>
<br><br>
Sort by price: <select id="order" name="category">
  <option value="asc">smallest to largest</option>
  <option value="desc">largest to smallest</option>
</select>
{{#each payload.docs}}

<h2>----------------------------------------</h2>
<h3>Product: {{this.title}}</h3>
<h3>description: {{this.description}}</h3>
<h3>price: {{this.price}}</h3>
<h3>code: {{this.code}}</h3>
<h3>stock: {{this.stock}}</h3>
<h3>category: {{this.category}}</h3>

{{#if ../payload.admin}}
<button class="delete" data-product-id="{{this._id}}">Delete</button>
{{/if}}
{{#if this.isPremium}}
<button class="delete" data-product-id="{{this._id}}">Delete</button>
{{/if}}

{{#unless ../payload.admin}}
{{#unless this.isPremium}}
<button class="add" data-cart-id="{{this._id}}">Add to cart</button>
{{/unless}}
{{/unless}}



{{/each}}
<h2>----------------------------------------</h2>
<br>
<div>
  Total Docs: {{ payload.totalPages }}
  <br><br>
  Pages:{{payload.page}} / {{ payload.totalPages }}
  <br><br>
  Limit: <input id="limit" type="text" value={{ payload.limit }}> <br><br>
  Page: <input id="page" type="text" value={{ payload.page }}> <br><br>

  <input id="nextPage" type="hidden" value="{{payload.nextPage}}">
  <input id="prevPage" type="hidden" value="{{payload.prevPage}}">
  {{#if payload.hasPrevPage}}
  <a id="btnPrev" href="#">Previus</a>
  {{/if}}
  {{#if payload.hasNextPage}}
  <a id="btnNext" href="#">Next</a>
  {{/if}}
</div>


<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const queryParams = new URLSearchParams(window.location.search)
    const btnAdd = document.querySelectorAll('.add')
    const btnDelete = document.querySelectorAll('.delete')
    const btnPrev = document.querySelector('#btnPrev')
    const btnNext = document.querySelector('#btnNext')
    const inpPage = document.querySelector('#page')
    const btnSearch = document.querySelector('#search')
    const btnCategory = document.querySelector('#category')
    let stockOnlyCheckbox = document.querySelector('#stockOnly')
    let checked = queryParams.get('stockOnly')
    const order = document.querySelector('#order')
    let sortOrder = queryParams.get('order')

    if (sortOrder) {
      console.log(sortOrder)
      order.value = sortOrder
    }

    if (checked) {
      stockOnlyCheckbox.checked = true
    }

    if (btnPrev) {


      btnPrev.addEventListener('click', (event) => {
        event.preventDefault()
        const prevPage = document.querySelector('#prevPage').value
        const limit = document.querySelector('#limit').value
        const page = document.querySelector('#page').value
        const query = document.querySelector('#query').value

        const url = `/api/products/getProduct?page=${prevPage}&limit=${limit}&query=${query}`
        document.location.href = url
      })
    }
    else if (btnNext) {
      btnNext.onclick = (event) => {
        event.preventDefault()
        const nextPage = document.querySelector('#nextPage').value
        const limit = document.querySelector('#limit').value
        const page = document.querySelector('#page').value
        const query = document.querySelector('#query').value

        const url = `/api/products/getProduct?page=${nextPage}&limit=${limit}&query=${query}`
        document.location.href = url
      }
    }

    inpPage.addEventListener('change', (event) => {
      event.preventDefault()
      const limit = document.querySelector('#limit').value
      const page = document.querySelector('#page').value
      const query = document.querySelector('#query').value

      const url = `/api/products/getProduct?page=${page}&limit=${limit}&query=${query}`
      document.location.href = url
    })

    btnSearch.onclick = (event) => {
      event.preventDefault()
      const limit = document.querySelector('#limit').value
      const page = document.querySelector('#page').value
      const query = document.querySelector('#query').value

      const url = `/api/products/getProduct?page=${page}&limit=${limit}&query=${query}`
      document.location.href = url

    }

    if (btnCategory) {
      btnCategory.addEventListener('change', (event) => {
        event.preventDefault()
        const limit = document.querySelector('#limit').value
        const page = document.querySelector('#page').value
        const query = document.querySelector('#query').value
        const category = document.querySelector('#category').value

        const url = `/api/products/getProduct?page=${page}&limit=${limit}&query=${query}&category=${category}`
        document.location.href = url
      })
    }

    if (stockOnlyCheckbox) {
      stockOnlyCheckbox.addEventListener('change', (event) => {
        event.preventDefault()
        const limit = document.querySelector('#limit').value
        const page = document.querySelector('#page').value
        const query = document.querySelector('#query').value
        const category = document.querySelector('#category').value
        const stockOnly = document.querySelector('#stockOnly').checked

        let url = `/api/products/getProduct?page=${page}&limit=${limit}&query=${query}&category=${category}`
        if (stockOnly) {
          url += '&stockOnly=true'
        }
        document.location.href = url
      })
    }

    if (order) {
      order.addEventListener('change', (event) => {
        event.preventDefault()
        console.log("entro al cambio de order")
        const limit = document.querySelector('#limit').value
        const page = document.querySelector('#page').value
        const query = document.querySelector('#query').value
        const category = document.querySelector('#category').value
        const stockOnly = document.querySelector('#stockOnly').checked
        const order = document.querySelector('#order').value

        let url = `/api/products/getProduct?page=${page}&limit=${limit}&query=${query}&category=${category}&order=${order}`
        if (stockOnly) {
          url += '&stockOnly=true'
        }
        document.location.href = url
      })
    }



    if (btnAdd) {
      btnAdd.forEach(button => {
        button.onclick = async (event) => {
          event.preventDefault()
          const pid = button.dataset.cartId
          const response = await fetch(`/api/carts`, { method: 'post' })  //creo el carrito
          const cartId = await response.json(); // Suponiendo que el servidor devuelve un JSON con el ID

          console.log("ID del carrito " + cartId.cartId)
          console.log("ID del producto " + pid)

          fetch(`/api/carts/${cartId.cartId}/product/${pid}`, { method: 'post' })
            .then(() => {
              alert("producto agregado al carrito")
              document.location.href = '/api/products/getProduct'
            })
            .catch(e => {
              alert(e)
            });
        }

      })
    }

    if (btnDelete) {
      btnDelete.forEach(button => {
        button.addEventListener('click', (event) => {
          event.preventDefault();
          const id = button.dataset.productId
          fetch(`/api/products/deleteProduct/${id}`, { method: 'delete' })
            .then(() => {
              alert('Eliminado con éxito')
              document.location.href = '/api/products/getProduct'
            })
            .catch(e => {
              alert('No se puede eliminar el producto')
            })
        })
      })
    }


  })
</script>