<a href="/">Home</a>

{{#each payload}}
<h2>----------------------------------------</h2>
<h3><u>Product</u>: <span> {{this.title}}</span></h3>
<h3><u>Description</u>: <span>{{this.title}}</span></h3>
<h3><u>price</u>: <span>{{this.title}}</span></h3>
<h3><u>stock</u>: <span>{{this.title}}</span></h3>
<h3><u>category</u>: <span>{{this.title}}</span></h3>
<button id="delete"> Delete</button>
<button id="cart"> Add to cart</button>

{{/each}}
<h2>----------------------------------------</h2>